/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.vite-promo {
  display: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.gallery-card {
  width: 200px;
  height: auto;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-card:hover {
  transform: scale(1.05);
}

.gallery-img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-info {
  padding: 10px;
  font-size: 14px;
  color: #333;
}

.gallery-info p {
  margin: 5px 0;
}

.gallery-info strong {
  font-weight: bold;
}

.simplelightbox img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.739);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
